* {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700
}

.title {
    color: rgba(68, 22, 175, 0.397);
    font-size: 30px;
}


body {
    background-color: rgba(18, 71, 163, 0.507);
}
